{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock Recommender - Stock Information</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'stock/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'stock/css/sb-admin-2.css' %}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'stock:index' %}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-arrow-trend-up"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Stock Recommender</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'stock:index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        
            <!-- Heading -->
            <div class="sidebar-heading">
                Additional Data
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'stock:charts' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Stock Information</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-info bg-success topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        

                        <!-- <div class="topbar-divider d-none d-sm-block"></div> -->

                        
                               

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Stock Information</h1>
                        <a href="{% url 'stock:download-stocks' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Download List
                        </a>
                        
                    </div>

                    <!-- Content Row -->
                    

                    <!-- Content Row -->

                    <div class="row">
                        <div class="col-xl-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="sp500-tab" data-toggle="tab" href="#sp500" role="tab" aria-controls="sp500" aria-selected="true">S&P 500</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nasdaq-tab" data-toggle="tab" href="#nasdaq" role="tab" aria-controls="nasdaq" aria-selected="false">NASDAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="dow-tab" data-toggle="tab" href="#dow" role="tab" aria-controls="dow" aria-selected="false">Dow</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="russell-tab" data-toggle="tab" href="#russell" role="tab" aria-controls="russell" aria-selected="false">Russell</a>
                                </li>
                            </ul>
                    
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="sp500" role="tabpanel" aria-labelledby="sp500-tab">
                                    <!--  S&P 500 -->
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-7">
                                            <!-- Existing card structure -->
                                            <div class="card shadow mb-4">
                                                <!-- Card Body -->
                                                <div class="card-body">
                                                    <div class="chart-area">
                                                        <div id="sp500fig_converted">{{ sp500_chart|safe }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-5">
                                            <div class="card shadow mb-4">
                                                <div
                                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold text-primary">Recommended Stocks</h6>
                                                </div>
                                                <!-- Card Body -->
                                                <div class="card-body">

                                                    <ul class="list-group list-group-flush">
                                                        {% for stock in top_sp500_stocks %}
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            {{ stock.symbol }}
                                                            <span class="badge badge-success badge-pill">{{ stock.slope }}</span>
                                                            <span class="badge badge-info badge-pill">{{ stock.pe_ratio }}</span>
                                                            <span class="badge badge-warning badge-pill">{{ stock.rsi }}</span>
                                                        </li>
                                                        {% empty %}
                                                        <li class="list-group-item">No stocks available.</li>
                                                        {% endfor %}
                                                    </ul>
                                                    <div class="mt-4 text-center small">
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-success"></i> Slope
                                                        </span>
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-info"></i> P/E Ratio
                                                        </span>
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-warning"></i> RSI Index
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="tab-pane" id="nasdaq" role="tabpanel" aria-labelledby="nasdaq-tab">
                                    <!-- Content for NASDAQ -->
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-7">
                                            <!-- Existing card structure -->
                                            <div class="card shadow mb-4">
                                                <!-- Card Body -->
                                                <div class="card-body">
                                                    <div class="chart-area">
                                                        <div id="nasdaqfig_converted">{{ nasdaq_chart|safe }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-5">
                                            <div class="card shadow mb-4">
                                                <div
                                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold text-primary">Recommended Stocks</h6>
                                                </div>
                                                <!-- Card Body -->
                                                <div class="card-body">

                                                    <ul class="list-group list-group-flush">
                                                        {% for stock in top_nasdaq_stocks %}
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            {{ stock.symbol }}
                                                            <span class="badge badge-success badge-pill">{{ stock.slope }}</span>
                                                            <span class="badge badge-info badge-pill">{{ stock.pe_ratio }}</span>
                                                            <span class="badge badge-warning badge-pill">{{ stock.rsi }}</span>
                                                        </li>
                                                        {% empty %}
                                                        <li class="list-group-item">No stocks available.</li>
                                                        {% endfor %}
                                                    </ul>
                                                    <div class="mt-4 text-center small">
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-success"></i> Slope
                                                        </span>
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-info"></i> P/E Ratio
                                                        </span>
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-warning"></i> RSI Index
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="tab-pane" id="dow" role="tabpanel" aria-labelledby="dow-tab">
                                    <!-- Content for Dow -->
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-7">
                                            <!-- Existing card structure -->
                                            <div class="card shadow mb-4">
                                                <!-- Card Body -->
                                                <div class="card-body">
                                                    <div class="chart-area">
                                                        <div id="dow_converted" style="width: 100%;">{{ dow_chart|safe }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-5">
                                            <div class="card shadow mb-4">
                                                <div
                                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold text-primary">Recommended Stocks</h6>
                                                </div>
                                                <!-- Card Body -->
                                                <div class="card-body">

                                                    <ul class="list-group list-group-flush">
                                                        {% for stock in top_dow_stocks %}
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            {{ stock.symbol }}
                                                            <span class="badge badge-success badge-pill">{{ stock.slope }}</span>
                                                            <span class="badge badge-info badge-pill">{{ stock.pe_ratio }}</span>
                                                            <span class="badge badge-warning badge-pill">{{ stock.rsi }}</span>
                                                        </li>
                                                        {% empty %}
                                                        <li class="list-group-item">No stocks available.</li>
                                                        {% endfor %}
                                                    </ul>
                                                    <div class="mt-4 text-center small">
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-success"></i> Slope
                                                        </span>
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-info"></i> P/E Ratio
                                                        </span>
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-warning"></i> RSI Index
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="russell" role="tabpanel" aria-labelledby="russell-tab">
                                    <!-- Content for Russell -->
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-7">
                                            <!-- Existing card structure -->
                                            <div class="card shadow mb-4">
                                                <!-- Card Body -->
                                                <div class="card-body">
                                                    <div class="chart-area">
                                                        <div id="sp500fig_converted">{{ sp500fig_converted|safe }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-5">
                                            <div class="card shadow mb-4">
                                                <div
                                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold text-primary">Recommended Stocks</h6>
                                                </div>
                                                <!-- Card Body -->
                                                <div class="card-body">
                                                    <ul class="list-group list-group-flush">
                                                        {% for stock in top_sp500_stocks %}
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            {{ stock.symbol }}
                                                            <span class="badge badge-primary badge-pill">{{ stock.score }}</span>
                                                        </li>
                                                        {% empty %}
                                                        <li class="list-group-item">No stocks available.</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Recommended Stocks</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Server Migration <span
                                            class="float-right">20%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Sales Tracking <span
                                            class="float-right">40%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Customer Database <span
                                            class="float-right">60%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 60%"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Payout Details <span
                                            class="float-right">80%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Account Setup <span
                                            class="float-right">Complete!</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Color System -->
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-primary text-white shadow">
                                        <div class="card-body">
                                            Primary
                                            <div class="text-white-50 small">#4e73df</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-success text-white shadow">
                                        <div class="card-body">
                                            Success
                                            <div class="text-white-50 small">#1cc88a</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-info text-white shadow">
                                        <div class="card-body">
                                            Info
                                            <div class="text-white-50 small">#36b9cc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-warning text-white shadow">
                                        <div class="card-body">
                                            Warning
                                            <div class="text-white-50 small">#f6c23e</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-danger text-white shadow">
                                        <div class="card-body">
                                            Danger
                                            <div class="text-white-50 small">#e74a3b</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-secondary text-white shadow">
                                        <div class="card-body">
                                            Secondary
                                            <div class="text-white-50 small">#858796</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-light text-black shadow">
                                        <div class="card-body">
                                            Light
                                            <div class="text-black-50 small">#f8f9fc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-dark text-white shadow">
                                        <div class="card-body">
                                            Dark
                                            <div class="text-white-50 small">#5a5c69</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="img/undraw_posting_photo.svg" alt="...">
                                    </div>
                                    <p>Add some quality, svg illustrations to your project courtesy of <a
                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                                        constantly updated collection of beautiful svg images that you can use
                                        completely free and without attribution!</p>
                                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                                        unDraw &rarr;</a>
                                </div>
                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                </div>
                                <div class="card-body">
                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                                        CSS bloat and poor page performance. Custom CSS classes are used to create
                                        custom components and custom utility classes.</p>
                                    <p class="mb-0">Before working with this theme, you should become familiar with the
                                        Bootstrap framework, especially the utility classes.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Stock Recommender 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'stock/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'stock/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'stock/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'stock/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'stock/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'stock/js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>