{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="{% static 'single_page_app/about_page.css' %}">
    </head>
    <body>
        <div class="navbar">
            <a href="{% url 'single_page_app:index' %}">Home</a>
            <a href="{% url 'single_page_app:help' %}">Help</a>
            <a href="{% url 'single_page_app:about' %}">About</a>
            <a href="{% url 'single_page_app:service' %}">Service</a>
            <a href="{% url 'single_page_app:data' %}">Data Presenting</a>
        </div>
        <h1>About Page</h1>
        <div class="content">
            <div id="image"></div>
            <p>Hello, I am the author of this site!</p>
        </div>
    </body>
</html>