{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Data Presenting Page</title>
        <link rel="stylesheet" href="{% static 'single_page_app/data_page.css' %}">
    </head>
    <body>
        <div class="navbar">
            <a href="{% url 'single_page_app:index' %}">Home</a>
            <a href="{% url 'single_page_app:help' %}">Help</a>
            <a href="{% url 'single_page_app:about' %}">About</a>
            <a href="{% url 'single_page_app:service' %}">Service</a>
            <a href="{% url 'single_page_app:data' %}">Data Presenting</a>
        </div>
        <div class="content">
            <h1>Data Presenting Page</h1>
            <div id="converted_fig">{{ converted_fig|safe }}</div>
            <br>
            <p> Here is a box plot describing the three month trade volume of 5 stocks. You can hover over the plot to look at all 
                the stats.
            </p>
            <br>
            <div id="converted_fig3">{{ converted_fig3|safe }}</div>
            <p> Here is a candlestick chart for AAPL. A candlestick chart is a chart that describes open, high, low, and close prices over time. 
                The boxes represent the spread between the open and close values and the lines represent the spread between the low and high values.
                Green is increasing, red is decreasing.
            </p>
            <br>
            <div id="converted_fig4">{{ converted_fig4|safe }}</div>
            <br>
            <div id="converted_fig2">{{ converted_fig2|safe }}</div>
            <p> Here is a simple line chart of the 5 stock's closing price.</p>
        </div>
    </body>
</html>